.noise {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.06;
    background-size: 109px;
    background-repeat: repeat;
    background-image: url('./noise.png');
    pointer-events: none;
}
